{% extends "dash.html" %}
{% block content %}
<!--<h1>Dashboard</h1>
<p>You are currently logged in as {{ name }}</p>
<a href='/logout'>Logout</a>-->

 <!-- Begin Page Content -->
 <div class="container-fluid px-lg-4">
    <div class="row">
        <div class="col-md-12 mt-lg-4 mt-4">
        <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Page de l'ESTE</h1>
            </div>
            <form role="form" method="post" action="/admin/add">
                <div class="form-group">
                    <textarea id="summernote" name="editordata"></textarea>
            </form>
        </div>
                      
    </div>

</div>


{%endblock%}