{% extends "dash.html" %}
{% block content %}
<!--<h1>Dashboard</h1>
<p>You are currently logged in as {{ name }}</p>
<a href='/logout'>Logout</a>-->

 <!-- Begin Page Content -->
 <div class="container-fluid px-lg-4">
    <div class="row">
        <div class="col-md-12 mt-lg-4 mt-4">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Reservation</h1>
                
            </div>
        </div>
        <div class="card text-dark bg-warning mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header">Reservation</div>
            <div class="card-body">
              <h5 class="card-title">Warning</h5>
              <p class="card-text">Au cours de construction!</p>
            </div>
          </div>                       

    </div>
</div>
   

{%endblock%}